<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/styles/login.css">
</head>
<body>
    

    <h2>Login to Your Account</h2>

    <form class="login" action="/login" method="POST">

    <label>User Email:</label>
    <input type="email" name="email" required>
    <% if (mailError) { %>
      <p class="mailError"> <%= mailError %> </p>
    <% } %>

    <label>Password:</label>
    <input type="password" name="password" required>
    <% if (passError)  {%>
      <p class="passError"> <%= passError %> </p>
    <% } %>


    <button type="submit">Login</button>

    </form>

    <p class="new"> Don't have an account? <a href="/register">Create Account</a> </p>


</body>
</html>