<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="/styles/weather.css">
</head>
<body>

    



<div class="weatherbox">

  

  <div class="country">

  <h1>UAE</h1>

  <h2>Abu Dhabi</h2>

  <p>Temperature: </p>
  <p>Condition: </p>
  <p>Humidity: </p>
  <p>Wind Speed: </p>
  <p>Feels Like: </p>


  </div>


  <div class="country">

    <h1>Saudi Arabia</h1>

    <h2>Riyadh</h2>

    <p>Temperature: </p>
    <p>Condition: </p>
    <p>Humidity: </p>
    <p>Wind Speed: </p>
    <p>Feels Like: </p>
  </div>


  <div class="country">
    
    <h1>Kuwait</h1>
    <h2>Kuwait City</h2>

    <p>Temperature: </p>
    <p>Condition: </p>
    <p>Humidity: </p>
    <p>Wind Speed: </p>
    <p>Feels Like: </p>
  </div>



  <div class="country">
    
    <h1>Qatar</h1>
    <h2>Doha</h2>

    <p>Temperature: </p>
    <p>Condition: </p>
    <p>Humidity: </p>
    <p>Wind Speed: </p>
    <p>Feels Like: </p>
</div>


<div class="country">

  <h1>Bahrain</h1>
  <h2>Manama</h2>

  <p>Temperature: </p>
  <p>Condition: </p>
  <p>Humidity: </p>
  <p>Wind Speed: </p>
  <p>Feels Like: </p>

</div>

<div class="country">

  <h1>Oman</h1>
  <h2>Muscat</h2>

  <p>Temperature: </p>
  <p>Condition: </p>
  <p>Humidity: </p>
  <p>Wind Speed: </p>
  <p>Feels Like: </p>


</div>



</div>






<button onclick="window.location.href='/logout'" class="logout">Logout</button>




    <!-- Axios CDN -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- Custom JavaScript File -->
    <script src="/script.js"></script>
</body>
</html>